<!DOCTYPE html>
<html>
  <head>
      {% load static %}
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="head">
            <h1>To-Do List</h1>
            <div style="display: flex; align-items: center;">
                <h3>User</h3>
                <a href="/logout/" style="text-decoration: none; color: red;">
                Log out
                </a>
            </div>
      </div>
      <div class="task-add">
        <form id="task-form" method="post">{% csrf_token %}
            <div class="form1">
              <input type="text" name="s" placeholder="Sarlavha kiriting.. ">
              <input type="date" name="sana">
              <select name="holat">
                <option class="opt">
                  boshlanmadi
                </option>
                <option class="opt">
                  bajarilmoqda
                </option>
                <option class="opt">
                  bajarildi
                </option>
              </select>
            </div>
            <div class="fomr1">
              <input type="text" name="b" placeholder="Batafsil malumot..">
              <button type="submit" class="btn">Qoshish</button>
            </div>
          </form>
      </div>
      <hr style="margin: 10px 5px;">
        {% for i in reja %}
      <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  {{i.sarlavha}}
              </div>
              <div>
                    <input type="text" value="{{i.holat}}" readonly >
                    <input type="date" value="{{i.vaqt}}" readonly>
                    <button type="submit" class="edit"><a href="/edit/">Edit</a></button>
                    <button type="submit" class="delete"><a href="/ochirish/{{i.id}}/">Delete</a></button>
              </div>
          </li>
        </ul>
        <ul class="details">
            {{i.batafsil}}
        </ul>
      </div>
        {%endfor%}
    </div>
  </body>
</html>